/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Merriweather", serif;
}
/* banner section */
.banner-container {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-image: url("../images/Banner Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  height: 600px;
  margin: 20px auto;
  border-radius: 10px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  color: white;
  height: 600px;
  align-items: center;
  justify-content: center;
}
.banner-content p {
  font-size: 32px;
  color: #ffffff;
}
.banner-content h1 {
  font-size: 72px;
  text-align: center;
  margin-top: 16px;
}

/* 60% off section */

.discount-content {
  text-align: center;
  margin-top: 120px;
}
.discount-content h1 {
  font-size: 88px;
  color: #ff0000;
  font-weight: bold;
}
.discount-content p {
  font-size: 24px;
  color: #ff0000;
  margin-top: 48px;
}
.discount-content h3 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 16px;
}
.discount-content img {
  margin-top: 48px;
}

/* welcome style */
.welcome-container {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-image: url("../images/Vectorrr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  margin: 120px auto;
  border-radius: 10px;
}
.welcome-content {
  color: white;
  display: flex;
  align-items: center;
  /* padding: 50px; */
}
.welcome-content-item {
  width: 696px;

  padding-left: 126px;
}
.welcome-content-item h1 {
  font-size: 64px;
}
.welcome-content-item p {
  font-size: 16px;
  color: #ffffff;
  margin-top: 26px;
}
.welcome-content-item button {
  border: none;
  margin-top: 30px;
  background-color: pink;
  border-radius: 3px;
  padding: 10px 30px;
}
.welcome-content-item-image {
  width: 319px;
  padding-right: 138px;
  padding-top: 68px;
  padding-bottom: 68px;
}

/* location style */

.location-container {
  max-width: 1200px;
  background-color: antiquewhite;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 482px;
  margin: 120px auto;
  border-radius: 10px;
}
.location-content {
  display: flex;
  flex-direction: column;
  height: 450px;
  align-items: center;
  justify-content: center;
}
.location-content h3 {
  font-size: 32px;
  font-weight: bolder;
}
.location-content h3 > span {
  color: red;
}
.location-content button {
  border: none;
  margin-top: 30px;
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 10px 40px;
}

/* offer style */
.offer-container {
  max-width: 1200px;
  margin: 120px auto;
}

.offer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}
.offer-item-one {
  width: 333px;
  text-align: left;
}
.offer-item-one h5 {
  color: #ff0000;
  font-weight: 700;
  margin-bottom: 16px;
}
.offer-item-one h1 {
  font-size: 48px;
  margin-bottom: 22px;
}
.offer-item-one p {
  font-size: 16px;
  color: #070211;
}
.offer-item-img {
  border: 10px solid #ff0000;
  border-radius: 50%;
  padding: 10px;
}
.offer-item-img img {
  width: 300px;
}
.offer-item-two {
  width: 276px;
  text-align: left;
}
.offer-item-two h1 {
  font-size: 48px;
  color: #ff0000;
  font-weight: bolder;
}
.offer-item-two p {
  color: #070211;
  margin-top: 16px;
  margin-bottom: 12px;
}
